{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Mentions Légales{% endblock %}

{% block body %}
    <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold"> MENTIONS LEGALES</h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Mentions Légales</h1>
    
                <div class="mt-4">
                    <h2>Informations relatives :</h2>
                    <p>
                        <strong>Responsable de la publication :</strong> Mme. BOUDRY, Mme. POTEAUX, M. PARISOT et M. BRUYE
                    </p>
                    <p>
                        <strong>Adresse :</strong> ARRAS
                    </p>
                    <p>
                        <strong>Adresse e-mail :</strong> share@contact.com
                    </p>
                    <p>
                        <strong>Numéro de téléphone :</strong> 06 50 60 80 36
                    </p>
                </div>
    
                <div class="mt-4">
                    <h2>Hébergement :</h2>
                    <p>
                        <strong>Nom de l'hébergeur :</strong> Mme. BOUDRY, Mme. POTEAUX, M. PARISOT et M. BRUYE
                    </p>
                    <p>
                        <strong>Adresse :</strong> ARRAS
                    </p>
                    <p>
                        <strong>Numéro de téléphone :</strong> 06 50 60 80 36
                    </p>
                </div>
    
                <div class="mt-4">
                    <h2>Protection des données personnelles</h2>
                    <p>
                        Nous, en tant que développeurs de l'application Share, nous engageons à respecter la confidentialité et la sécurité des données personnelles de nos utilisateurs. Les données personnelles collectées via l'application Share sont utilisées uniquement dans le but de fournir les services offerts par l'application et ne seront en aucun cas vendues ou cédées à des tiers.
                    </p>
                </div>
    
                <div class="mt-4">
                    <h2>Propriété intellectuelle</h2>
                    <p>
                        L'ensemble du contenu de l'application Share, y compris mais non limité aux textes, images, graphiques, logos, icônes, clips audio, clips vidéo, téléchargements numériques et compilations de données, est la propriété de Share et est protégé par les lois sur le droit d'auteur et autres lois applicables en matière de propriété intellectuelle.
                    </p>
                </div>
    
                <div class="mt-4">
                    <h2>Cookies</h2>
                    <p>
                        L'application Share peut utiliser des cookies pour améliorer l'expérience utilisateur. Les cookies sont de petits fichiers texte placés sur votre appareil pour aider l'application à analyser l'utilisation de celle-ci, à personnaliser votre expérience et à vous fournir des fonctionnalités améliorées.
                    </p>
                </div>
    
                <div class="mt-4">
                    <h2>Conditions d'utilisation</h2>
                    <p>
                        En utilisant l'application Share, vous acceptez de vous conformer aux conditions d'utilisation suivantes :
                    </p>
                    <ul>
                        <li>Vous êtes seul responsable de l'exactitude, de l'intégralité et de la légalité des fichiers que vous partagez via l'application Share.</li>
                        <li>Vous vous engagez à ne pas utiliser l'application Share à des fins illicites ou interdites par les présentes conditions.</li>
                        <li>Nous nous réservons le droit de suspendre ou de résilier votre accès à l'application Share à tout moment, sans préavis, en cas de violation des présentes conditions.</li>
                        <li>Nous ne sommes en aucun cas responsables des dommages directs, indirects, accessoires, spéciaux ou consécutifs résultant de l'utilisation ou de l'impossibilité d'utiliser l'application Share.</li>
                        <li>Droit applicable et juridiction compétente.</li>
                    </ul>
                    <p>
                        Les présentes conditions d'utilisation sont régies par et interprétées conformément aux lois en vigueur en France. Tout litige découlant de l'utilisation de l'application Share sera soumis à la juridiction exclusive des tribunaux d'Arras.
                    </p>
                </div>
    
                <div class="mt-4">
                    <h2>Contact</h2>
                    <p>
                        Pour toute question ou réclamation concernant l'application Share, veuillez nous contacter à l'adresse e-mail suivante : share@contact.com.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
